{template "content","header"}

<style>
    
    .content_left{
      width:73%;
      float: left;
	  background:#fff;
      margin-right: 10px;
      border:1px solid #ccc;
    }
	.content_left p{
		text-align:center;
	}
	.content_left .content p{
		padding:10px;
		text-indent: 2em;
		margin-top:10px;
		line-height:30px;
		font-size:15px;
		text-align:left;
	}
	.tag{
		border:1px solid #ccc;
		padding:5px;
		width:95%;
		margin:0 auto;
		margin-bottom:10px;
	}
	.page{
		padding:5px;
		width:95%;
		margin:0 auto;
	}
	.page a:hover{
		text-decoration:none;
		color:#00CC00;
	} 
	.page .page_left{
		float:left;
	}
	.page .page_right{
		float:right;
	}
    .content_right{
      width:25%;
      float:right;
	}

    .hot{
      padding:2px;
	  border:1px solid #ccc;
	  margin-bottom:15px;
      background: #fff;
    }
	.hot ul li{
	  padding: 2px 10px;
	  color:#CC9900;
	}
	.hot ul li a{
		color:#111;
	}
	.hot ul li a:hover{
		text-decoration:none;
		color:#00CC00;
	}
    h3{
      background: red;
      color:#fff;
      padding: 0;
      margin: 0;
      padding-left:20px;
      margin-top: 10px;
      font-weight: bold;
      height: 30px;
      line-height: 20px;
      font-size:14px;
      background: url({IMG_PATH}title.png) left top no-repeat;
      /* border-radius: 10px 0px 0px 10px; */
    }
	h4{
		text-align:center;
		font-family:微软雅黑;
		font-weight:bold;
		margin-top:30px;
		font-size:20px;
	}
	 .right_list{
      float:left;
      border:1px solid #ccc;
      background:#fff;
      margin-bottom: 20px;
    }
    .right_list h3{
      background: url({IMG_PATH}title3.png) left top no-repeat;
    }
    .more{
        float: right;
        color:#339900;
    }
    .right_list ul li{
      padding:8px;
      border-bottom:1px dashed #ccc;
      color:#CC9900;
    }
    .right_list ul li a:hover{
        text-decoration:none;
        color:#00CC00;
    }
    .right_list ul li em{
      font-style:normal;
      float:right;
      color:#000;
    }


  </style>
 <section>
        <div class="content_left">
			<h4>{$title}</h4>
			<p>{$inputtime} 录入者：{$username} 来源:{$copyfrom} 浏览:<span id="hits"></span>次</p>
			<div class="content">
			<p >
				{$content}
				</p>
			</div>
		<!--简报列表-->
		{if $catid==22}
			{pc:content action="lists" catid="22" num="5" order="id DESC"}
	        <div class="right_list">
	            <div class="list">
	                <ul>
	                    {pc:content action="lists" catid="22" num="5" order="id DESC"}
	                        {loop $data $v}
	                            <li>● <a href="{$v[url]}" target="_blank"{title_style($v[style])}>{$v[title]}</a></li>
	                        {/loop}
	                    {/pc}
	                </ul>
	            </div>
	        </div>
	     
	       {/pc}
       {/if}



			<!--简报列表-->

			<div class="tag">Tags:{loop $keywords $keyword}<a href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}" class="blue">{$keyword}</a> 	{/loop}</div>
			<div class="page"><div class="page_left">上一篇：<a href="{$previous_page[url]}">{$previous_page[title]}</a></div><div class="page_right">下一篇：<a href="{$next_page[url]}">{$next_page[title]}</a>
</div></div>
		</div>
		<div class="content_right">
			<div class="hot">
				<h3>最热点击</h3>
				{pc:content action="hits" catid="10"}
                <ul>
                	{loop $data $v}
                    <li>● <a href="{$v[url]}">{$v[title]}</a></li>
                	{/loop}
                </ul>
                {/pc}
          </div>
		  <div class="hot">
				<h3>工作案例</h3>
				{pc:content action="hits" catid="13"}
                <ul>
                	{loop $data $v}
                    <li>● <a href="{$v[url]}">{$v[title]}</a></li>
                	{/loop}
                </ul>
                {/pc}
          </div>
		  <div class="hot">
				<h3>优秀人物</h3>
				{pc:content action="hits" catid="15"}
                <ul>
                    {loop $data $v}
                    <li>● <a href="{$v[url]}">{$v[title]}</a></li>
                	{/loop}
                </ul>
                {/pc}
          </div>
		</div>
      </section>




<script type="text/javascript">
$(function(){
  $('.content img').LoadImage(true, 660, 660,'{IMG_PATH}s_nopic.gif');    
})
</script>
{template "content","footer"}
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>